body{
  margin: 0;
  font-family: monospace;
  color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left bottom, lightgreen, lightblue);

}

.container{
  max-width: 450px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 85%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.heading{
  font-size: 32px;
}

.temp-container{
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 18px ;
}


.input{
  padding: 8px;
  width: 220px;
  float: right;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  font-family: monospace;
  outline: none;
  color: darkgreen;
  font-size: 18px;
}

.input::placeholder{
  color: darkgray;
}
